h1 {
    color :red ;
    font-size: 200%;
    text-transform: uppercase;
}

ul {
    color: greenyellow;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: chartreuse;
}